.logo {
  display: block;
  width: calculateRem(345px);
  height: calculateRem(58px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }

  @media #{$mobile-breakpoint} {
    margin: 0 auto;
  }

  @media #{$small-mobile-breakpoint} {
    width: calculateRem(172.5px);
    height: calculateRem(29px);
  }
}
