html,
body {
  font-size: $font-size;
  font-family: Rubik, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: calculateRem(40px);
}

h2 {
  font-size: calculateRem(32px);
}

h3 {
  font-size: calculateRem(28px);
}

h4 {
  font-size: calculateRem(24px);
}

h5 {
  font-size: calculateRem(20px);
}

h6 {
  font-size: calculateRem(16px);
}

a {
  color: $tertiary-color;
  transition: opacity .3s;
  text-decoration: none;

  &:hover {
    opacity: .8;
  }
}

p {
  margin-bottom: calculateRem(10px);
  line-height: 1.5;
}
