.utilities-basic {
  display: flex;
  justify-content: space-between;

  & > div {
    flex: 0 0 30%;
    max-width: 30%;

    &:only-child {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  @media #{$mobile-breakpoint} {
    flex-direction: column;

    & > div {
      flex: 1 0 100%;
      max-width: 100%;
      border-bottom: 5px solid $primary-color;
      margin-bottom: calculateRem(15px);
    }
  }
}

.utilities-container {
  margin-bottom: calculateRem(20px);

  & &__head {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: 6px solid $primary-color;
    margin-bottom: calculateRem(24px);

    @media #{$small-mobile-breakpoint} {
      border: 0;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 10;
      display: block;
      top: calculateRem(40px);
      height: calculateRem(140px);
      border-left: 6px solid $primary-color;

      @media #{$small-mobile-breakpoint} {
        display: none;
      }
    }

    &:after {
      right: 0;
    }

    h4 {
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: calculateRem(10px);

      @media #{$small-mobile-breakpoint} {
        font-size: calculateRem(16px);
      }
    }
  }
}
