.utilities-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .slick-track {
    display: flex;
    justify-content: space-between;
    float: none;
    padding-bottom: calculateRem(20px);
  }

  .slick-slide {
    flex: 1;
    height: auto;
    padding: 0 calculateRem(15px);

    & > div {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  .slick-arrow {
    top: 0;
    width: calculateRem(24px);
    height: calculateRem(29px);
    background: #67799c;
    border-radius: 10%;
    padding: calculateRem(20px);
    transition: all .3s;
    z-index: 10;

    &.slick-prev {
      left: calculateRem(15px);

      &:before {
        background-image: url(/images/ico-arrow-left.svg);
      }
    }

    &.slick-next {
      right: calculateRem(15px);

      &:before {
        background-image: url(/images/ico-arrow-right.svg);
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 20%;
      top: 17%;
      display: inline-block;
      width: calculateRem(24px);
      height: calculateRem(27px);
      opacity: 1;
    }
  }
}
