.hero {
  $self: &;
  padding-top: calculateRem(40px);
  padding-bottom: calculateRem(20px);
  background: $primary-color;
  margin-bottom: calculateRem(32px);

  & > div {
    display: flex;
    justify-content: space-between;
  }

  & &__content {
    flex: 0 0 40%;
    color: $secondary-color;

    &:only-child {
      flex: 0 0 100%;
    }
  }

  & &__sidebar {
    flex: 0 0 50%;
  }

  @media #{$mobile-breakpoint} {
    & > div {
      flex-direction: column;
    }

    #{$self}__content,
    #{$self}__sidebar {
      flex: 0 0 100%;
    }

    #{$self}__content {
      margin-bottom: calculateRem(20px);
    }
  }
}
