.homepage-intro {
  max-width: calculateRem(400px);
  margin-left: auto;
  margin-top: calculateRem(32px);

  & > :first-child {
    margin-bottom: calculateRem(48px);
    color: #fff;
    text-align: center;
  }

  @media #{$mobile-breakpoint} {
    max-width: 100%;
    margin-left: 0;
  }
}
